In [1]:
import geopandas as gpd
import pandas as pd
pd.set_option('display.max_columns', 500)

import matplotlib.pyplot as plt
from matplotlib.colors import TwoSlopeNorm
import seaborn as sns
import numpy as np

from dotenv import load_dotenv
import os

load_dotenv()

import h3

# Open df

In [4]:
# h3
LOCAL_FILE_PATH = os.getenv('LOCAL_FILE_PATH')
h3_index = gpd.read_file(f'{LOCAL_FILE_PATH}h3_index_no_restriction_EN.gpkg')

print(h3_index.shape)
h3_index.head(3)

(23636, 25)

,h3_index,h3_resolution,nm_city,nm_state_abbrev,fl_slope_class_1,fl_slope_class_2,fl_slope_class_3,fl_slope_class_4,nr_distance_urban_growth_2020_2022_m,nr_distance_road_m,nr_distance_highways_m,nr_distance_urban_area_m,nr_poi_attractor,nr_poi_detector,fl_construction_restriction,nr_population_ibge22,nr_households_ibge22,rt_people_households_ibge22,nr_monthly_income_household,nr_minimum_wage_household,ds_minimum_wage_range_household,nr_poor_urban_communities,fl_contaminated_area,nr_contaminated_areas,geometry
0,89a81140003ffff,9,indaiatuba,SP,1,1,1,0,517.0,0.0,20298,0.0,32,2,0,648.0,296.0,2.189189,8041.04,5.69,3. more than 5 minimum wages,0,0,0,"POLYGON ((-47.21295 -23.08044, -47.21189 -23.0..."
1,89a81140007ffff,9,indaiatuba,SP,1,1,1,0,252.0,0.0,20465,0.0,24,1,0,790.0,276.0,2.862319,10893.25,7.71,3. more than 5 minimum wages,0,0,0,"POLYGON ((-47.21595 -23.07875, -47.21489 -23.0..."
2,89a8114000bffff,9,indaiatuba,SP,1,1,0,0,503.0,0.0,19947,0.0,30,0,0,761.0,360.0,2.113889,8690.00,6.15,3. more than 5 minimum wages,0,1,1,"POLYGON ((-47.20986 -23.07905, -47.20879 -23.0..."